.leaflet-popup-content { color: black; }
#windy {
    width: 100%;
    height: 680px;
}
.sarl {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.3em !important;
    border-radius: 0.3em;
    position: absolute;
    z-index: 1;
    color: white;
}
#sarl_RaceBadge_div {
    left: 5px;
    top: 5px;     
    max-width:120px;
}
#sarl_RaceBadge_img {
    max-width:100px;
}
#sarl_BoatDetails {
    top: 5px;
    left: 125px;
}
#sarl_EnglishToggle{
    bottom:60%;
    left: 5px;
}

#sarl_MeasureToggle{
    bottom:55%;
    left: 5px;
}

#sarl_NavionicsToggle{
    bottom:50%;
    left: 5px;
}

#sarl_MapboxToggle{
    bottom:45%;
    left: 5px;
}
#plugin-distance{    
    bottom: 70px !important;
}
#plugin-distance table td{
    color: white !important;
}

.distance-icon{
    color: white !important;
} 

.jnc-navionics-overlay-logo{
    bottom: -3px !important;
}